@use "../../scss/variables"  as *;

.client-actions {
  svg {
    width: 24px;
    height: 24px;
  }

  .card-container {
    display: inline-flex;
    overflow: hidden;
    scrollbar-width: none;
    transform: translateX(0);
    will-change: transform;
    transition: transform 0.3s ease-out;
    cursor: grab;
    background-color: red;

    .slider {
      position: relative;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;

      .slide {
        opacity: 0;
        transition-duration: 1s ease;
      }

      .slide.active {
        opacity: 1;
        transition-duration: 1s;
        transform: scale(1.08);
      }

      .image {
        width: 1000px;
        height: 600px;
        border-radius: 10px;
      }
    }
  }
}

.credit-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  border-radius: 0.688rem; // 11px

  width: 300px;
  height: 200px;
  background-color: $primary-accent-color;
  color: $light-text-color;
  margin: 0.625rem; // 10px
  padding: 1.563rem; // 25px
  font-weight: 600;
  font-size: 18px;

  // css variables
  // are set in tsx ClientActions file
  --x: 0;
  --y: 0;
  --d: 50;

  opacity: 1;
  pointer-events: auto;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;

  &:hover {
    -webkit-transform: scale(1.025)
      translate(
        calc(var(--x) / var(--d) * 1px),
        calc(var(--y) / var(--d) * 1px)
      );
    transform: scale(1.025)
      translate(
        calc(var(--x) / var(--d) * 1px),
        calc(var(--y) / var(--d) * 1px)
      );
  }

  .credit-card-bank {
    display: flex;
  }

  .credit-card-number {
    display: flex;
    justify-content: space-between;
    align-items: center;

    letter-spacing: 0.05rem; // 0.8px

    svg {
      fill: $light-text-color;
      width: 2.5rem; // 40px
      height: 2.5rem; // 40px
    }
  }

  .credit-card-balance {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
