@use "../../scss/variables"  as *;

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .nav-bar-link {
    ul {
      display: flex;

      li {
        a {
          font-weight: 600;
          margin-right: 3.438rem; // 55px
          text-decoration: none;
          color: $main-text-color;
        }
      }
    }
  }

  .nav-bar-profile {
    h3 {
      text-transform: capitalize;
    }
  }
}
